body {
    padding-top: 0px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */

}

div.px-font{
    font-size: 18px;
}

.navbar-fixed-top .nav {
    padding: 0px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 0px;
}


@media(min-width:768px) {
    body {
        padding-top: 10px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 0px 0;
    }
}

.jumbotron {
  padding: 15px 10px;
  margin-bottom: 10px;
}

div.row {
  margin-bottom: -20px;
}

#site-title {
  text-decoration: none;
  text-transform: uppercase;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}


.img-container img {
  vertical-align: middle;
  display: inline-block;
}


#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#inner-message {
    margin: 0 auto;
    text-align: center;
}

